---
import type { Form as Props } from '~/types';
import Button from '~/components/ui/Button.astro';

const { inputs, textarea, disclaimer, button = 'Contact us', description = '' } = Astro.props;

const topics = [
  {value: 'web-dev', label: 'Web Development'},
  {value: 'web-host', label: 'Web Hosting'},
  {value: 'web-seo', label: 'Search Engine Optimization'},
  {value: 'business-auto', label: 'Business Process Automation'},
  {value: 'google-management', label: 'Google Business Management'},
  {value: 'other', label: 'Other'},
];
---

<form action="https://api.web3forms.com/submit" method="POST" id="form">
  <input type="hidden" name="access_key" value="90fa869f-f7e1-4e5d-a378-56fb20cd260d">

  {
    inputs &&
      inputs.map(
        ({ type = 'text', name, label = '', autocomplete = 'on', placeholder = '', required }) =>
          name && (
            <div class="mb-6">
              {label && (
                <label for={name} class="block text-sm font-medium">
                  {label}{required ? ' *' : ''}
                </label>
              )}
              <input
                type={type}
                name={name}
                id={name}
                autocomplete={autocomplete}
                placeholder={placeholder}
                required={required}
                class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-primary bg-white dark:bg-transparent caret-primary"
              />
              <div class="validation-message" style="color: red;"> </div>
            </div>
          )
      )
  }

{
  topics && (
    <div class="mb-6">
      <label for="topics" class="block text-sm font-medium">
        Topic *
      </label>
      <select
        id="topics"
        name="topics"
        required
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-primary bg-white dark:bg-transparent"
      >
        <option value="" disabled selected>Select a topic</option>
        {topics.map(({ value, label }) => (
          <option value={value}>{label}</option>
        ))}
      </select>
    </div>
  )
}

  {
    textarea && (
      <div>
        <label for="textarea" class="block text-sm font-medium caret-primary">
          {textarea.label}{textarea.required ? ' *' : ''}
        </label>
        <textarea
          id="textarea"
          name={textarea.name ? textarea.name : 'message'}
          rows={textarea.rows ? textarea.rows : 4}
          placeholder={textarea.placeholder}
          required={textarea.required}
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-primary bg-white dark:bg-transparent"
        />
      </div>
    )
  }

  {
    disclaimer && (
      <div class="mt-3 flex items-start">
        <div class="flex mt-0.5">
          <input
            id="disclaimer"
            name="disclaimer"
            type="checkbox"
            class="cursor-pointer mt-1 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-primary bg-white dark:bg-transparent"
          />
        </div>
        <div class="ml-3">
          <label for="disclaimer" class="cursor-pointer select-none text-sm text-gray-600 dark:text-gray-400">
            {disclaimer.label}
          </label>
        </div>
      </div>
    )
  }

  {
    button && (
      <div class="mt-10 grid">
        <Button variant="primary" type="submit">
          {button}
        </Button>
      </div>
    )
  }

  {
    description && (
      <div class="mt-3 text-center">
        <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>
      </div>
    )
  }
</form>

<script is:inline>
  const form = document.getElementById('form');
  const result = document.getElementById('result');
  
  form.addEventListener('submit', function(e) {
      const formData = new FormData(form);
      e.preventDefault();
  
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
  
      result.innerHTML = "Please wait..."
  
      fetch('https://api.web3forms.com/submit', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'Accept': 'application/json'
              },
              body: json
          })
          .then(async (response) => {
              let json = await response.json();
              if (response.status == 200) {
                  result.innerHTML = json.message;
              } else {
                  console.log(response);
                  result.innerHTML = json.message;
              }
          })
          .catch(error => {
              console.log(error);
              result.innerHTML = "Something went wrong!";
          })
          .then(function() {
              form.reset();
              setTimeout(() => {
                  result.style.display = "none";
              }, 3000);
          });
  });
  </script>